/*
1100px-68.75em -largest
900px- 56.25em -large
700px - 43.75em medium
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  scroll-behavior: smooth; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 43.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Barlow", sans-serif;
  color: #4d4d4d;
  font-weight: 600;
  line-height: 1.6; }

.footer {
  padding: 10rem 0;
  background-color: #91d3c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem; }
  .footer__list {
    list-style: none;
    display: flex;
    gap: 5rem; }
  .footer__item {
    font-size: 1.8rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #1e584c;
    transition: all 0.3s;
    display: inline-block; }
    .footer__link:link:hover, .footer__link:link:active, .footer__link:visited:hover, .footer__link:visited:active {
      transform: scale(1.05); }
  .footer__icons {
    display: flex;
    gap: 2rem;
    padding: 5rem 0 0 0; }

.section-gallery {
  display: flex; }
  @media only screen and (max-width: 43.75em) {
    .section-gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }

.gallery__photo {
  width: 25%;
  height: auto;
  display: block; }
  @media only screen and (max-width: 43.75em) {
    .gallery__photo {
      width: 100%; } }

.header {
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative; }
  .header__icon {
    height: 10rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%); }
  @media only screen and (max-width: 43.75em) {
    .header__nav {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -85%);
      background-color: white;
      width: 80%;
      height: 45vh;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
      clip-path: polygon(92% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
      opacity: 0;
      pointer-events: none;
      visibility: hidden; } }
  .header .nav-open .header__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: all 0.3s; }
  @media only screen and (max-width: 43.75em) {
    .header .icon-close .header__icon {
      opacity: 0;
      pointer-events: none;
      visibility: hidden; }
    .header .icon-close .heading-1 {
      opacity: 0;
      pointer-events: none;
      visibility: hidden; } }
  .header__nav-box {
    display: flex;
    justify-content: space-between; }
  .header__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;
  display: none; }
  @media only screen and (max-width: 43.75em) {
    .btn-mobile-nav {
      display: block;
      z-index: 1000; } }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: white;
  transition: all 0.3s; }
  .icon-mobile-nav:hover {
    transform: scale(1.1); }
  .icon-mobile-nav:visited, .icon-mobile-nav:active {
    transform: scale(1); }

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  padding: 2rem 2rem;
  margin-right: 2.5rem; }
  @media only screen and (max-width: 43.75em) {
    .header__nav-list {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 7rem;
      align-items: center;
      margin-right: 0;
      padding-top: 7rem; } }

.header__nav-link:link,
.header__nav-link:visited {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem 2rem;
  display: inline-block; }
  @media only screen and (max-width: 43.75em) {
    .header__nav-link:link,
    .header__nav-link:visited {
      color: #4d4d4d;
      font-size: 2rem; } }
  .header__nav-link:link:hover, .header__nav-link:link:active,
  .header__nav-link:visited:hover,
  .header__nav-link:visited:active {
    color: #4d4d4d;
    transform: scale(1.05); }

.header__nav-link-stand:link,
.header__nav-link-stand:visited {
  background-color: white;
  color: #4d4d4d;
  padding: 1rem 2rem;
  border-radius: 100px;
  text-transform: uppercase; }
  @media only screen and (max-width: 43.75em) {
    .header__nav-link-stand:link,
    .header__nav-link-stand:visited {
      background-color: #fad400;
      color: #111;
      padding: 1rem 3rem; } }
  .header__nav-link-stand:link:hover, .header__nav-link-stand:link:active,
  .header__nav-link-stand:visited:hover,
  .header__nav-link-stand:visited:active {
    color: #4d4d4d;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 43.75em) {
      .header__nav-link-stand:link:hover, .header__nav-link-stand:link:active,
      .header__nav-link-stand:visited:hover,
      .header__nav-link-stand:visited:active {
        color: #4d4d4d; } }

.section-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  @media only screen and (max-width: 43.75em) {
    .section-story {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      text-align: center; } }

.story {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem;
  justify-content: center; }
  .story__photo {
    width: 100%;
    height: 100%; }
  .story__text {
    font-size: 1.8rem; }
  .story__text-1 {
    text-align: center;
    margin: 0 3.5rem 3.5rem 3.5rem;
    color: #1e584c; }
    @media only screen and (max-width: 68.75em) {
      .story__text-1 {
        margin: 0; } }
  .story-2, .story-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    padding: 5rem; }
  .story-2 {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: center; }
  .story-3 {
    background-image: url(../images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: center; }

.section-testimonials {
  text-align: center;
  padding: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-testimonials {
      padding: 10rem 2rem; } }
  @media only screen and (max-width: 43.75em) {
    .section-testimonials {
      padding: 5rem 2rem; } }

.testimonials-box {
  padding: 5rem 0;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 43.75em) {
    .testimonials-box {
      flex-direction: column;
      gap: 10rem; } }

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center; }
  .testimonials__photo {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%; }
  .testimonials__text {
    font-size: 1.8rem; }
  .testimonials__user-name {
    font-size: 1.8rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: #222; }
  .testimonials__user-job {
    font-size: 1.3rem;
    color: #818498; }

.heading-1 {
  font-size: 4.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-family: Fraunces;
  font-weight: 900; }

.heading-2 {
  font-size: 3.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900; }

.heading-3 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #1e584c; }

.heading-4 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.btn {
  border: none;
  background-color: transparent;
  font-family: "Fraunces", serif;
  font-weight: 700;
  cursor: pointer; }

.btn-footer {
  font-size: 3rem;
  transition: all 0.3s;
  color: #1e584c; }
  .btn-footer:hover {
    transform: scale(1.05); }

.btn-header {
  color: white;
  font-size: 2rem;
  transition: all 0.3s;
  padding: 2rem 2rem; }
  .btn-header:hover {
    transform: scale(1.05); }

.btn-story {
  display: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  transition: all 0.3s; }
  .btn-story:hover {
    transform: scale(1.05); }
  @media only screen and (max-width: 43.75em) {
    .btn-story {
      justify-content: center; } }
