.header {
  background-image: url(../images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;

  color: $color-white;
  text-align: center;

  display: flex;
  flex-direction: column;

  gap: 10rem;

  position: relative;

  &__icon {
    height: 10rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
  }

  &__nav {
    @include respond(medium) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -85%);
      background-color: $color-white;
      width: 80%;
      height: 45vh;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
      clip-path: polygon(92% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
  .nav-open .header__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: all 0.3s;
  }
  @include respond(medium) {
    .icon-close .header__icon {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    .icon-close .heading-1 {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  &__nav-box {
    display: flex;
    justify-content: space-between;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem;

  display: none;

  @include respond(medium) {
    display: block;
    z-index: 1000;
  }
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-white;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:visited,
  &:active {
    transform: scale(1);
  }
}
